In [1]:
s_d = {x: x * x for x in range(11)}
s_d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [2]:
m_d = {(x, y): x * y for x in range(2) for y in range(2)}
m_d

{(0, 0): 0, (0, 1): 0, (1, 0): 0, (1, 1): 1}

In [10]:
prefectures = ['Hokkaido', 'Hokkaido', 'Tokyo', 'Kanagawa']
cities = ['Sapporo', 'Hakodate', 'Minato', 'Yokohama']
poplations = [100, 200, 300, 400]
poplation_dict = {(state,city): poplation for state, city, poplation in zip(prefectures, cities, poplations)}
poplation_dict

{('Hokkaido', 'Sapporo'): 100,
 ('Hokkaido', 'Hakodate'): 200,
 ('Tokyo', 'Minato'): 300,
 ('Kanagawa', 'Yokohama'): 400}

In [14]:
m = {frozenset([x, y]): x*y for x in range(2) for y in range(2)}
m

{frozenset({0}): 0, frozenset({0, 1}): 0, frozenset({1}): 1}

In [15]:
{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [20]:
m = {}
I = 3
J = 3
for i in range(I):
    m[i] = {}
    for j in range(J):
        m[i][j] = i*j
m

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [21]:
I = 3
J = 3
m = {i:{j:(i * j) for j in range(J)} for i in range(I)}
m

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [22]:
m[2][2]

4

In [23]:
print('key1', 'key2', 'val', sep = '\t')
for i, v1 in m.items():
    for j, v2 in v1.items():
        print(i, j, v2, sep = '\t')

key1	key2	val
0	0	0
0	1	0
0	2	0
1	0	0
1	1	1
1	2	2
2	0	0
2	1	2
2	2	4

In [25]:
c_c = {
    'Iceland': {'code': 354, 'capital': 'Reykjavik'},
    'Ireland': {'code': 353, 'capital': 'Doblin'},
    'Azerbaibjan': {'code': 994, 'capital': 'Baku'}
    }
def g_k(x):
    if isinstance(x, dict):
        return x
    m_s = ''
    for key, val in x.items():
        m_s = ''
        for key, val in x.items():
            m_s += (' ' + str(key) + ' ' + g_k(val))
        return m_s
    
    for key1, val1 in c_c.items():
        print(key1, g_k(val1))

In [26]:
data = [
    ['01', '0001', 'Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
    ['01', '0002', 'Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
    ['01', '0003', 'Female', 'Tanaka', 'Yuko', 25, 'Saitama'],
    ['02', '0001', 'Male', 'Smith', 'Mike', 22, 'NewJersey'],
    ['02', '0002', 'Male', 'Turner', 'Tom', 27, 'Kansas'],
    ['02', '0003', 'Male', 'Jackson', 'David', 22, 'Florida'] 
]
data

[['01', '0001', 'Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
 ['01', '0002', 'Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
 ['01', '0003', 'Female', 'Tanaka', 'Yuko', 25, 'Saitama'],
 ['02', '0001', 'Male', 'Smith', 'Mike', 22, 'NewJersey'],
 ['02', '0002', 'Male', 'Turner', 'Tom', 27, 'Kansas'],
 ['02', '0003', 'Male', 'Jackson', 'David', 22, 'Florida']]

In [27]:
m_m = {}
for record in data:
    key = (record[0], record[1])
    info = record[2:]
    m_m[key] = info

In [28]:
print('number', 'infomation', sep = '\t')
for key, info in m_m.items():
    print(key, info)

number	infomation
('01', '0001') ['Male', 'Yamada', 'Tarou', 25, 'Tokyo']
('01', '0002') ['Male', 'Satou', 'Takeshi', 27, 'Kanagawa']
('01', '0003') ['Female', 'Tanaka', 'Yuko', 25, 'Saitama']
('02', '0001') ['Male', 'Smith', 'Mike', 22, 'NewJersey']
('02', '0002') ['Male', 'Turner', 'Tom', 27, 'Kansas']
('02', '0003') ['Male', 'Jackson', 'David', 22, 'Florida']